.content{
    border: 1px solid var(--lightgray2);
    border-radius: 4px;
    margin-bottom: 20px;
}

.row{
    border-top: 1px solid var(--lightgray2);
    display: flex;
    justify-content: space-between;
}

.row:first-child{
    border-top: none;
}

.col{
    padding: 8px 12px;
}

.total{
    font-size: 1.125em;
    font-weight: bold;
}

.quantity{
    margin-left: 6px;
    font-weight: bold;
}